
/*background*/
body {  background-color:white;}

html{background:#255;}

body{
    text-align: center;
    padding:0;
    margin:10;
    font-family: 'Permanent Marker';
    font-weight:100;
    margin:20px;
    color: darkBlue;

  }

p{
  font-size: 40px;
}
#fade-content{
  text-align: center;
  font-family: 'Permanent Marker';
  color: darkBlue;
}

#Contacts{

}
